@model IList<ProductOverviewModel>

@using Nop.Web.Models.Catalog;
@{
    int size = Model.Count;
}
@if (size > 0)
{
    <div class="related-products-grid product-grid">
        <div class="title">
            <strong>Customer Also Viewed</strong>
        </div>
        <div class="item-grid @(size > 5 ? "regular slider" : "")">
            @foreach (var item in Model)
            {
                <div class="item-box">@Html.Partial("_ProductBox", item)</div>
            }
        </div>
    </div>
}

